---
layout:    about
author:    jdecent
keywords:  Portfolio jaemoon
title:     Portfolio
menutitle: Portfolio
weight:    70
excerpt:   
---
{% assign cv = site.data.cv[page.author] %}

<div class="md-card no-border">
    <p>{{cv.profile}}</p>
</div>

<div class="md-card shadow">
    <div class="title icon-office">
        <h2>Career period</h2>
    </div>
    <div class="content">
        <ul>
            {% for career in cv.careers %}
            <li>{{ career }}</li>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="md-card shadow">
    <div class="title icon-stats-bars">
        <h2>Skills</h2>
    </div>
    <div class="content">
        <ul>
            {% for skill in cv.skills %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="md-card shadow education">
    <div class="title icon-library">
        <h2>Education</h2>
    </div>
    {% for entry in cv.education %}   
    <dl>
        <dt class="time">{{entry.time}}</dt>
        <dd>
            <h3>{{entry.location}}</h3>
            <p>{{entry.description}}</p>
        </dd>
    </dl>
    {% endfor %}
</div>

<h2 class="employment-heading">Project History</h2>

<div class="timeline-container">
    {% for project in cv.projects %}
    <div class="timeline-block">
        <div class="marker"></div>
        <div class="time">{{project.time}}</div>
        <div class="timeline-content">
            <div class="time">{{project.time}}</div>
            <h3>{{project.name}}</h3>
            <span>{{project.skill}}</span>
            <ul>
                {% for work in project.works %}
                <li>{{work}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>


<!-- <h2 class="project-heading">Project History</h2>

{% for project in cv.projects %}
<div class="md-card shadow project">
    <div class="meta">
        <div class="team">{{project.team}}</div>
        <div class="time">{{project.time}}</div>
    </div>
    <div class="content">
        <h2>{{project.title}}</h2>
        <ul>
            {% for responsibility in project.responsibilities %}
            <li>{{responsibility}}</li>
            {% endfor %}
            
        </ul>
    </div>
    <div class="footer">
        <ul>
            {% assign technologies = project.technologies | split: ',' %}
            {% for technology in technologies %}
            <li> {{ technology }}</li>
            {% endfor %}
        </ul>
        <span class="icon-briefcase"></span>
    </div>
</div>
{% endfor %} -->
