<main class="content" role="main">
    <article class="post single-post" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header short-diver">
            <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
            <section class="post-meta">
                <time datetime="{{ post.tags }}" itemprop="datePublished">{{ post.tags }}</time> 
            </section>
        </header>

        <section class="post-content short-diver" itemprop="articleBody">
            {{post.content}}
        </section>

    </article>
</main>

{% include photoswipe.html %}